{% extends "accounts/main.html" %} 

{% block content %}


<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card card-body">
                <h5>Products</h5>
            </div>
            <div class="card card-body">
                <div class="table-responsive">
                    <table class="table table-fixed">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Category</th>
                        <th scope="col">Weight(gram)</th>
                        <th scope="col">Action</th> <!-- Add this column for delete action -->
                        <th scope="col">Image</th>
                    </tr>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.weight }}</td>
                        <td>
                            <form action="{% url 'delete_product' product.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        <td>
                            {% if product.img %}
                                <img src="{{ product.img.url }}" class="img-fluid" alt="Responsive image">
                            {% else %}
                                <p>No image available</p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row fixed-bottom">
    <div class="col" style="padding-bottom: 10px;">
        <a class="btn btn-primary" href="{% url 'add_product' %}">Add Product</a>
        <a class="btn btn-success" href="{% url 'search_product' %}">Search Product</a>
    </div>
</div>
<br>
<br>

{% endblock %}
