{% extends "accounts/main.html" %} 

{% block content %}

<h2>Search Products by Name</h2> <!-- Added title -->

<br>

<div class="row">
    <div class="col">
        <div class="col">
            <div class="card card-body">
                <form method="GET">
                    <div class="form-group">
                        <label for="search_name">Search by Product Name:</label>
                        <input type="text" class="form-control" id="search_name" name="search_name" placeholder="Enter Product name">
                    </div>
                    <br>
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card card-body">
                <h5>Products</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Action</th> <!-- Add this column for delete action -->
                        <th>Image</th>
                    </tr>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.price }}</td>
                        <td>
                            <form action="{% url 'delete_product' product.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        <td>
                            {% if product.img %}
                                <img src="{{ product.img.url }}" alt="Product Image" class="product-pic">
                            {% else %}
                                <p>No image available</p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<br>

{% endblock %}
